<Configuration>

  <Add OfficeClientEdition="64" Channel="PerpetualVL2019">
    <Product ID="Standard2019Volume" PIDKEY="6NWWJ-YQWMR-QKGCB-6TMB3-9D9HK">
      <Language ID="en-us" />
      <Language ID="MatchPreviousMSI" />
      <ExcludeApp ID="Groove" />
      <ExcludeApp ID="OneDrive" />
    </Product>
  </Add>

<Property Name="AUTOACTIVATE" Value="0" />

   <Updates Enabled="FLASE"  />

   <!-- <Display Level="None" AcceptEULA="TRUE" />  -->

   <Property Name="AUTOACTIVATE" Value="1" /> 

</Configuration>
